@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container{
   max-width: 90%; 
  margin: 0 auto; 
   /* background-color: red;  */

}

.cardContainer{
display: flex;
    flex-wrap: wrap;
    gap: 9px;
    align-items: center;
    justify-content: center;
   

}

.card{
  height: 350px; 
  border: 1px solid black; 
  width: 400px; 
  display: flex ;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.card img {
  width: 100%; 
  height: 60%;
  border-radius: 10px;
}
.card h1 , .card h2 {
  font-size: 20px;
}

.btnCards{

display: flex;
justify-content: center; 
align-items: center;
margin: 30px 0px;
}

.fromContainer{
  height: 100vh; 
  width: 100vw; 
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fromCard{
  border: 1px solid black;
  padding: 100px 50px;
  gap: 30px;
}

.fromCard input {
  margin: 10px 0px;
}

button{
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 1px black;
}

.btnContainer{
  width: 100%; 
  /* background-color: crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* formContainer */


.formContainer{
  height: 100vh;
  width: 100vw; 
  /* background-color: red;/ */
}

.formCard{
  height: 100%; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  border: 1px solid black;
}

.formCard form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid black;
  padding: 70px;
  gap: 20px;
}

.formCard form input{
  height: 50px;
  width: 500px;
padding: 5px 15px;
font-size: 15px;
}
